#login-sc{
    background-image: url("../images/form-bg.jpg");
    background-position: initial;
    background-size: cover;
}


h1{
    font-family: 'Krona One', sans-serif;
    font-weight: bold;
}

button.swal-button.swal-button--confirm {
    background: #0d6efd !important;
    padding: 10px 26px !important;
    font-size: 18px !important;
}